<h1>Gossips#new</h1>
<p>Find me in app/views/gossips/new.html.erb</p>

<% if @gossip.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@gossip.errors.count, "error") %> prohibited this gossip from being saved:</h2>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>



<%= form_with(model: @gossip, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title, "Titre du potin" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Contenu du potin" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <%= form.submit "Créer le Potin", class: "btn btn-primary" %>
<% end %>