
<div class="container py-5">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h1 class="display-4">Potin <%= @gossip.id %></h1>
      <h2 class="featurette-heading fw-normal lh-1"><%= @gossip.content %></h2>
      <p class="lead">Title: <%= @gossip.title %></p>
      <p class="lead">Auteur: <%= link_to @gossip.user.first_name, profil_path(@gossip.user) %></p>
      <p class="lead">Ville: <%= @gossip.user.city.name %></p>
      <p class="btn btn-danger">
      <a href="<%= root_path(@gossip) %>" data-method="delete" data-confirm="Êtes-vous sûr ?" class="text-white">
  Supprimer
</a>

</p>

    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://via.placeholder.com/500" alt="Image" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
    </div>
  </div>
</div>
